In [8]:
import pandas as pd

In [46]:
data = pd.read_csv('C:/Users/Administrator/Desktop/campany_test_data.csv')

In [47]:
data.head(10)

,rmid,bc,hour,publisher_id,campaign_id,order_id,valid,cid,p,st,...,so,os,isTA,meid,isWap,device,dmp_ident,campaign_group_id,region_name,campaign_platform_name
0,6D2Lrqjypw,XUd9LhwZpp,12,11,205413,2306119,True,20820810.0,1,1,...,21.5,NaN,NaN,2306119,NaN,PC,0,1629,中山,PC
1,6D2Lrqjypw,XUdKt8hZ0d,12,11,205413,2306119,True,20820810.0,1,1,...,21.5,NaN,NaN,2306119,NaN,PC,0,1629,中山,PC
2,6D2Lrqjypw,XUdfqGFATS,12,11,205413,2306119,True,20820810.0,1,1,...,21.5,NaN,NaN,2306119,NaN,PC,0,1629,中山,PC
3,6D2Lrqjypw,XUdp9QZ2vQ,13,11,205413,2306119,True,20820810.0,1,1,...,21.5,NaN,NaN,2306119,NaN,PC,0,1629,中山,PC
4,ECDF3C0D58D02992380F66AA723BEC12,XU1006I7CV,0,6,205543,2314179,True,NaN,0,1,...,0.0,NaN,NaN,5484778,NaN,Android,0,0,国内,Mobile
5,784E6A92CD595671DF6A6F891B2BB0E6,XU1022Qhmf,0,6,205543,2314179,True,NaN,0,1,...,0.0,NaN,NaN,5484778,NaN,Android,0,0,国内,Mobile
6,15A85CE0E7FC6D953EA4606F205A11B4,XU1025ZyV3,0,6,205543,2314179,True,NaN,0,1,...,0.0,NaN,NaN,5484778,NaN,Android,0,0,国内,Mobile
7,4796314912CF41A67AA5941CAE0141AA,XU103RiwJc,0,6,205543,2314179,True,NaN,0,1,...,0.0,NaN,NaN,5484778,NaN,Android,0,0,国内,Mobile
8,A48CF4267C2A3E29B4BBF9FEBA79ECE4,XU103Yl4FD,0,6,205543,2314179,True,NaN,0,1,...,0.0,NaN,NaN,5484778,NaN,Android,0,0,国内,Mobile
9,F859E0125C9BF1A3C9A7ACA44179ACF4,XU1045vznY,0,6,205543,2314179,True,NaN,0,1,...,0.0,NaN,NaN,5484778,NaN,Android,0,0,国内,Mobile

In [48]:
data = data.drop(['os','isTA','bc','isWap','dmpId','cid'],axis=1)

In [49]:
data.columns

Index(['rmid', 'hour', 'publisher_id', 'campaign_id', 'order_id', 'valid', 'p',
       'st', 'ta', 'platform_id', 'mtype', 'so', 'meid', 'device', 'dmp_ident',
       'campaign_group_id', 'region_name', 'campaign_platform_name'],
      dtype='object')

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 18 columns):
rmid                      99999 non-null object
hour                      99999 non-null int64
publisher_id              99999 non-null int64
campaign_id               99999 non-null int64
order_id                  99999 non-null int64
valid                     99999 non-null bool
p                         99999 non-null int64
st                        99999 non-null int64
ta                        99999 non-null float64
platform_id               99999 non-null int64
mtype                     99969 non-null object
so                        99999 non-null float64
meid                      99999 non-null int64
device                    99999 non-null object
dmp_ident                 99999 non-null int64
campaign_group_id         99999 non-null int64
region_name               99999 non-null object
campaign_platform_name    99999 non-null object
dtypes: bool(1), float64(2), int64(10), object(5)
memory usage: 13.1+ MB

In [51]:
data.head(10)

,rmid,hour,publisher_id,campaign_id,order_id,valid,p,st,ta,platform_id,mtype,so,meid,device,dmp_ident,campaign_group_id,region_name,campaign_platform_name
0,6D2Lrqjypw,12,11,205413,2306119,True,1,1,0.5,1,NaN,21.5,2306119,PC,0,1629,中山,PC
1,6D2Lrqjypw,12,11,205413,2306119,True,1,1,0.5,1,NaN,21.5,2306119,PC,0,1629,中山,PC
2,6D2Lrqjypw,12,11,205413,2306119,True,1,1,0.5,1,NaN,21.5,2306119,PC,0,1629,中山,PC
3,6D2Lrqjypw,13,11,205413,2306119,True,1,1,0.5,1,NaN,21.5,2306119,PC,0,1629,中山,PC
4,ECDF3C0D58D02992380F66AA723BEC12,0,6,205543,2314179,True,0,1,0.0,2,imei,0.0,5484778,Android,0,0,国内,Mobile
5,784E6A92CD595671DF6A6F891B2BB0E6,0,6,205543,2314179,True,0,1,0.0,2,imei,0.0,5484778,Android,0,0,国内,Mobile
6,15A85CE0E7FC6D953EA4606F205A11B4,0,6,205543,2314179,True,0,1,0.0,2,imei,0.0,5484778,Android,0,0,国内,Mobile
7,4796314912CF41A67AA5941CAE0141AA,0,6,205543,2314179,True,0,1,0.0,2,imei,0.0,5484778,Android,0,0,国内,Mobile
8,A48CF4267C2A3E29B4BBF9FEBA79ECE4,0,6,205543,2314179,True,0,1,0.0,2,imei,0.0,5484778,Android,0,0,国内,Mobile
9,F859E0125C9BF1A3C9A7ACA44179ACF4,0,6,205543,2314179,True,0,1,0.0,2,imei,0.0,5484778,Android,0,0,国内,Mobile

In [33]:
byhour = data.groupby('hour')
byhour['p'].sum().reset_index()

    hour     p
0      0     0
1      1     0
2      2     0
3      3     0
4      4     0
5      5     0
6      6     0
7      7     0
8      8     0
9      9     0
10    10     0
11    11     5
12    12    18
13    13     7
14    14     0
15    15     0
16    16     0
17    17     0
18    18     0
19    19     0
20    20     0
21    21     0
22    22  2300
23    23     0

In [34]:
data.describe()

,hour,publisher_id,campaign_id,order_id,p,st,ta,platform_id,so,meid,dmp_ident,campaign_group_id
count,99999.000000,99999.000000,99999.000000,9.999900e+04,99999.000000,99999.0,99999.000000,99999.000000,99999.000000,9.999900e+04,99999.000000,99999.000000
mean,12.990920,10.329223,205573.705867,2.315129e+06,0.023300,1.0,0.018117,1.999700,0.704043,5.480304e+06,0.002360,0.488705
std,6.329411,19.918101,141.528865,4.388468e+03,0.150856,0.0,0.089461,0.017318,3.317062,5.732475e+04,0.048523,28.211157
min,0.000000,6.000000,205413.000000,2.306119e+06,0.000000,1.0,0.000000,1.000000,0.000000,2.306119e+06,0.000000,0.000000
25%,8.000000,6.000000,205543.000000,2.314179e+06,0.000000,1.0,0.000000,2.000000,0.000000,5.484778e+06,0.000000,0.000000
50%,13.000000,6.000000,205543.000000,2.314179e+06,0.000000,1.0,0.000000,2.000000,0.000000,5.484778e+06,0.000000,0.000000
75%,19.000000,6.000000,205543.000000,2.314179e+06,0.000000,1.0,0.000000,2.000000,0.000000,5.484778e+06,0.000000,0.000000
max,23.000000,102.000000,206225.000000,2.335323e+06,1.000000,1.0,1.000000,2.000000,43.500000,5.484778e+06,1.000000,1629.000000